.account-navigation {
    .side-user-info {
        .photo {
            width: 126px;
            height: 126px;
            margin: 0 auto;
            border-radius: 50%;
            background-color: $primary;
            color: $white;
            font-size: 36px;
            line-height: 120px;
            text-transform: uppercase;
            text-align: center;
            border: 3px solid transparent;
            font-weight: bold;
        }

        .text {
            text-align: center;
            margin-top: 15px;

            .name {
                margin: 0;
                font-size: 18px;
            }

            .register-date {
                font-style: italic;
                font-size: 12px;
                color: $medium-grey;
            }
        }
    }

    .card {
        + .card {
            margin-top: 25px;
        }

        .card-trigger {
            span {
                float: right;

                .nav-close {
                    display: none;
                }

                .nav-open {
                    display: inline;
                }
            }
        }

        &.open {
            .card-trigger {
                span {
                    .nav-close {
                        display: inline;
                    }

                    .nav-open {
                        display: none;
                    }
                }
            }

            .account-nav {
                display: block;
            }
        }
    }

    .account-nav {
        list-style: none;
        padding: 0;
        margin: 0;
        display: none;

        li {
            a {
                display: flex;
                align-items: center;
                line-height: 30px;
                padding: 5px 0;

                &.active {
                    color: $white;
                    background-color: $primary;
                    margin: 0 -20px;
                    padding: 10px 20px;
                }
                
                span {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    padding-left: 10px;
                }
            }

            + li {
                border-top: 1px solid $light-grey;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .account-navigation {
        .account-nav {
            display: block;
        }
    }
}