#orderModal {
    .modal-dialog {
        max-width: 700px;
    }
}

.order-details-list {
    list-style: none;
    padding: 0;

    li {
        display: flex;
        padding: 10px 0;
        border-bottom: 1px solid rgba($black, .05);
        transition: all .3s;

        &:hover {
            background-color: rgba($black, .03);
            padding-left: 10px;
        }

        .data {
            width: 150px;
            padding-right: 10px;
        }

        .value {
            color: $black;
        }
    }
}

.order-messages-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 250px;
    overflow: auto;

    li {
        display: flex;

        + li {
            margin-top: 5px;
        }

        span {
            display: block;
            padding: 3px 7px;
            border-radius: 5px;
            max-width: 85%;
        }

        &.other {
            span {
                background-color: rgba($black, .03);
            }
        }

        &.mine {
            justify-content: flex-end;

            span {
                background-color: $primary;
                color: $white;
            }
        }
    }
}