.content-page {
    padding: 70px 0;
    margin: 99px 0 0;

    .error {
        padding-top: 0;
    }

    h1 {
        font-size: 24px;
        text-transform: uppercase;
        margin: 5px 0 20px;
        padding-bottom: 15px;
        border-bottom: 2px solid rgba($black, .05);
    }
}

@include media-breakpoint-down(md) {
    .content-page {
        padding: 35px 0;
        margin: 66px 0 0;
    }
}